div.container3 {
    background-image: url('../../assets/back3.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    height: min-content;

    * {
        font-family: "Poppins";
    }

    h1 {
        margin-top: 3rem;
        text-align: center;
        font-size: 2.4rem;
        color: white;
        text-shadow: 0px 0px 10px black;
        font-weight: 900;
    }

    div.paragraphs {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        div.paragraph {
            margin: auto;
            background-color: rgb(255, 255, 255);
            max-width: 450px;
            padding: 2rem;
            transition: all 0.2s ease-in;
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    button {
        color: black;
        margin-top: 3rem;
        font-family: 'Poppins';
        background-color: white;
        outline: none;
        border: none;
        padding: 1rem 5rem;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
        border-radius: 2px;
        
        &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
    
}

@media screen and (min-width: 789px) {
    div.container3 {
        padding: 4rem;
        h1 {
            font-size: 3.4rem;
        }
        
    }
}