div.container5 {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  gap: 3rem;
}

div.container5 * {
  font-family: 'Poppins';
}

div.container5 div.line1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div.container5 div.line1 img {
  width: 30%;
  max-width: 300px;
}

div.container5 div.line1 h1 {
  font-size: 1.4rem;
}

div.container5 div.line2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

div.container5 div.line2 div.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

div.container5 div.line2 div.locations {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

div.container5 div.line2 div.locations div.locations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

div.container5 div.line3 p {
  font-weight: 600;
  font-size: 1.4rem;
}
