@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap");
div.container1 {
  background-image: url("../../assets/back1.jpg");
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
}

div.container1 header {
  background-color: black;
  padding: 1rem 5px;
  display: flex;
  align-items: center;
}

div.container1 img {
  width: 250px;
}

div.container1 * {
  color: white;
}

div.container1 div.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

div.container1 div.centered h1 {
  font-size: 15vw;
  font-family: serif;
  font-weight: 600;
}

div.container1 div.centered p {
  font-size: 4vw;
  font-weight: 900;
  font-family: 'Poppins';
}

div.container1 div.centered button {
  margin-top: 3rem;
  font-family: 'Poppins';
  background-color: black;
  outline: none;
  border: none;
  padding: 1rem 5rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

div.container1 div.centered button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  div.container img {
    width: 300px;
  }
  div.container div.centered h1 {
    font-size: 9vw;
  }
  div.container div.centered p {
    font-size: 1.8rem;
  }
  div.container div.centered button {
    font-size: 1.2rem;
  }
}

div.container2 {
  margin: auto;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3rem;
  gap: 3rem;
}

div.container2 * {
  font-family: "Poppins";
}

div.container2 div.text {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}

div.container2 div.text span {
  font-size: 1rem;
  color: black;
  font-weight: 300;
}

div.container2 div.text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

div.container2 div.text button {
  align-self: center;
  color: white;
  margin-top: 1rem;
  font-family: 'Poppins';
  background-color: black;
  outline: none;
  border: none;
  padding: 1rem 5rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

div.container2 div.text button:hover {
  background-color: #dddcdc;
  color: black;
  cursor: pointer;
}

div.container2 div.text p {
  font-size: 1.1rem;
}

div.container2 img {
  width: 70%;
  max-width: 350px;
}

@media screen and (min-width: 789px) {
  div.container2 {
    flex-direction: row;
  }
  div.container2 div.text button {
    align-self: flex-start;
  }
  div.container2 div.text span {
    font-size: 1.2rem;
  }
  div.container2 div.text h1 {
    font-size: 2.5rem;
  }
  div.container2 div.text p {
    font-size: 1.3rem;
  }
}

div.container3 {
  background-image: url("../../assets/back3.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: sepia(80%);
  padding: 4rem 2rem;
}

div.container3 * {
  font-family: "Poppins";
}

div.container3 div.centered {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.606);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container3 div.centered h1 {
  font-size: 2rem;
  text-align: center;
}

div.container3 div.centered p {
  font-size: 1.2rem;
  text-align: center;
}

div.container3 div.centered button {
  align-self: center;
  color: white;
  margin-top: 1rem;
  font-family: 'Poppins';
  background-color: black;
  outline: none;
  border: none;
  padding: 1rem 5rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

div.container3 div.centered button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

div.container5 img {
  width: 80%;
}

body {
  margin: 0;
}

body * {
  margin: 0;
}

body div.container {
  min-height: 100vh;
  background-size: cover;
}
